input, select, textarea {
  width: 100%;
  .box-sizing(border-box);
  .appearance(none);
  .border-radius(0);
  border: 0;
  outline: none;
  padding: 10px 20px;
  font-size: 1em;
  background-color: @grey-color;
  font-weight: 600;
  letter-spacing: .85px;
}

select {
  background-position: 98%;
}

.placeholder-font(@display-font);