footer {
  width:100%;
  border-top: 2px solid @grey-color;
  small, nav a {
    color: @primary-color;
  }
  > .wrapper{
    padding: 50px 0;
    .logo img {
      padding: 55px 0;
    }
    form{
      position: relative;
      overflow: hidden;
      [class*="col"]{
        margin-top: 10px;
      }
      .col-50{
        width: 187px;
        margin-left: 10px;
      }
      .col-100 input{
        padding-right: 108px;
      }
      .col-100, .col-50.first-of-row{
        margin-left: 0;
      }
      button{
        background-color: @secondary-color;
        color:@background-color;
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 1.2em;
        padding: 7px 28px;
      }
    }
    .social-icons{
      width:100%;
      margin-top: 30px;
      text-align: center;
      .fa{
        color:@primary-color;
      }
    }
    nav{
      padding-top: 27px;
      text-align: right;
      ul{
        display: inline-block;
        margin-left: 60px;
        text-align: left;
        &:first-of-type{
          margin-left: 0;
        }
        li{
          margin: 0 0 30px 0;
            a{
              text-transform: uppercase;
              font-family: @display-font;
            }
          &:hover a{
              color:@secondary-color;
          }
        }
      }
    }
  }

  .bottom-bar{
    padding: 15px 0;
    background-color: @grey-color;
    width:100%;
    float: left;
    nav{
      position: absolute;
      right: 0;
      top:0;

      li {
        display: inline-block;
        padding: 0 20px;
        border-left: 1px solid @primary-color;
        font-weight: 400;

        &:first-of-type{
          padding-left: 0;
          border-left: none;
        }
      }
    }
  }
}