::-moz-selection {
//  color:;
//  background:;
}

::selection {
    color:@background-color;
    background:@primary-color;
}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}

.wrapper{
  margin:0 auto;
  width:@grid;
  position: relative;
  overflow: hidden;
}