header{
  width:100%;
  border-bottom: 2px solid @grey-color;
  nav{
    li{
      display: inline-block;
      a{
        color:@primary-color;
        text-transform: uppercase;
      }
    }
  }
  li {
    font-family: @display-font;
  }
  .top-bar{
    background-color: @grey-color;
    padding: 13px 0;
    nav.utility-nav {
      position: absolute;
      top:0;
      right:0;
      li{
        margin-left: 25px;
      }
    }
  }
  > .wrapper {
    overflow: visible;
    a.logo {
      display: inline-block;
      margin: 30px 0;
    }
    form {
      position: absolute;
      width:785px;
      right: 0;
      top: 6px;
      input{
        text-indent: 45px;
        width: 0;
        padding: 10px 0;
        float: right;
        .transition(all @duration);
      }
      .fa{
        cursor: pointer;
        .transition(all @duration);
        position: absolute;
      }
      .fa-times{
        right: 12px;
        top: 9px;
        font-size: 1.4em;
        opacity:0;
      }
      .fa-search {
        font-size: 1.4em;
        top: 7px;
        left: 748px;
        z-index: 2;
        &.show-input {
          left: 14px;
          .transition(all @duration);
          &+ .fa{
            opacity:1;
            .transition(all @duration);
            &+ input{
              .transition(all @duration);
              background-color: @grey-color;
              width: 100%;
            }
          }
        }
      }
    }
    nav.main {
      position: absolute;
      right: 0;
      top: 60px;
      li{
        margin-left: 20px;
        a{
          padding: 13px 16px;
          display: inline-block;
        }
        .submenu {
          display: none;
          background-color: @primary-color;
          position: absolute;
          top: 60px;
          z-index: 1;
          li{
            margin-left: 0;
            display: block;
            a {
              color: @background-color;
              font-weight: 400;
              padding: 16px 18px;
              width: 200px;
            }
          }
        }
        &.download {
          background-color: @secondary-color;
          a{
            color:@background-color;
          }
        }
        &:hover{
          background-color: @primary-color;
          a{
            color:@background-color;
          }
        }
        &.menu-item-has-children:hover{
          a{
            padding-bottom: 32px;
          }
          .submenu {
            display: block;
            li{
              a{
                padding-bottom: 13px;
              }
              &:hover{
                a{
                  color:@secondary-color;
                }
              }
            }
          }
        }
      }
    }
  }
}