@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300,400italic);

h1,h2,h3,h4,h5,h6, button,li,input,select,textarea{
  font-family: @display-font;
  font-weight: 600;
}

small,em,p {
  font-family: @primary-font;
}

h1, h2 {
  font-size: 2.8em;
  @media (max-width: @tablet){
    font-size: 2em;
  }
}

h3 {
  font-size: 2em;
  @media (max-width: @tablet){
    font-size: 2em;
  }
}

h4 {
  font-size: 1.2em;
  @media (max-width: @tablet){
    font-size: 1.5em;
  }
}

h5,p,li,button,em {
  font-size: .95em;
  @media (max-width: @tablet){
    font-size: 1.3em;
  }
}

h6,small {
  font-size: .75em;
  @media (max-width:@grid) {
    font-size: .8em;
  }
}

p{
  color:@dark-grey-color;
  line-height: 1.4em;
}

em{
  font-weight: 100;
}