//Break Points
@grid: 1218px;
@break: 968px;
@tablet: 768px;
@mobile: 400px;

//Fonts
@display-font:  'Roboto Condensed', sans-serif;
@primary-font: 'Roboto', sans-serif;
@icon-font:'FontAwesome';

//Colors
@primary-color: #2f415b;
@primary-color-rgba: rgba(47,65,91,.2);
@secondary-color: #00aeef;

//Greys
@grey-color: #e3e6e8;
@dark-grey-color: #72808a;

@background-color: #ffffff;

@duration:300ms;
@duration-short:100ms;

@path-fonts: 'fonts/';