@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300,400italic);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  cursor: pointer;
  outline: none;
  background: transparent;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  outline: none;
}
a {
  text-decoration: none;
}
section {
  width: 100%;
}
em {
  font-style: italic;
}
.logged-in {
  margin-top: 32px;
}
::selection {
  color: #ffffff;
  background: #2f415b;
}
.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wrapper {
  margin: 0 auto;
  width: 1218px;
  position: relative;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
li,
input,
select,
textarea {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
}
small,
em,
p {
  font-family: 'Roboto', sans-serif;
}
h1,
h2 {
  font-size: 2.8em;
}
@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 2em;
  }
}
h3 {
  font-size: 2em;
}
@media (max-width: 768px) {
  h3 {
    font-size: 2em;
  }
}
h4 {
  font-size: 1.2em;
}
@media (max-width: 768px) {
  h4 {
    font-size: 1.5em;
  }
}
h5,
p,
li,
button,
em {
  font-size: .95em;
}
@media (max-width: 768px) {
  h5,
  p,
  li,
  button,
  em {
    font-size: 1.3em;
  }
}
h6,
small {
  font-size: .75em;
}
@media (max-width: 1218px) {
  h6,
  small {
    font-size: .8em;
  }
}
p {
  color: #72808a;
  line-height: 1.4em;
}
em {
  font-weight: 100;
}
header {
  width: 100%;
  border-bottom: 2px solid #e3e6e8;
}
header nav li {
  display: inline-block;
}
header nav li a {
  color: #2f415b;
  text-transform: uppercase;
}
header li {
  font-family: 'Roboto Condensed', sans-serif;
}
header .top-bar {
  background-color: #e3e6e8;
  padding: 13px 0;
}
header .top-bar nav.utility-nav {
  position: absolute;
  top: 0;
  right: 0;
}
header .top-bar nav.utility-nav li {
  margin-left: 25px;
}
header > .wrapper {
  overflow: visible;
}
header > .wrapper a.logo {
  display: inline-block;
  margin: 30px 0;
}
header > .wrapper form {
  position: absolute;
  width: 785px;
  right: 0;
  top: 6px;
}
header > .wrapper form input {
  text-indent: 45px;
  width: 0;
  padding: 10px 0;
  float: right;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
header > .wrapper form .fa {
  cursor: pointer;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  position: absolute;
}
header > .wrapper form .fa-times {
  right: 12px;
  top: 9px;
  font-size: 1.4em;
  opacity: 0;
}
header > .wrapper form .fa-search {
  font-size: 1.4em;
  top: 7px;
  left: 748px;
  z-index: 2;
}
header > .wrapper form .fa-search.show-input {
  left: 14px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
header > .wrapper form .fa-search.show-input + .fa {
  opacity: 1;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
header > .wrapper form .fa-search.show-input + .fa + input {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  background-color: #e3e6e8;
  width: 100%;
}
header > .wrapper nav.main {
  position: absolute;
  right: 0;
  top: 60px;
}
header > .wrapper nav.main li {
  margin-left: 20px;
}
header > .wrapper nav.main li a {
  padding: 13px 16px;
  display: inline-block;
}
header > .wrapper nav.main li .submenu {
  display: none;
  background-color: #2f415b;
  position: absolute;
  top: 60px;
  z-index: 1;
}
header > .wrapper nav.main li .submenu li {
  margin-left: 0;
  display: block;
}
header > .wrapper nav.main li .submenu li a {
  color: #ffffff;
  font-weight: 400;
  padding: 16px 18px;
  width: 200px;
}
header > .wrapper nav.main li.download {
  background-color: #00aeef;
}
header > .wrapper nav.main li.download a {
  color: #ffffff;
}
header > .wrapper nav.main li:hover {
  background-color: #2f415b;
}
header > .wrapper nav.main li:hover a {
  color: #ffffff;
}
header > .wrapper nav.main li.menu-item-has-children:hover a {
  padding-bottom: 32px;
}
header > .wrapper nav.main li.menu-item-has-children:hover .submenu {
  display: block;
}
header > .wrapper nav.main li.menu-item-has-children:hover .submenu li a {
  padding-bottom: 13px;
}
header > .wrapper nav.main li.menu-item-has-children:hover .submenu li:hover a {
  color: #00aeef;
}
footer {
  width: 100%;
  border-top: 2px solid #e3e6e8;
}
footer small,
footer nav a {
  color: #2f415b;
}
footer > .wrapper {
  padding: 50px 0;
}
footer > .wrapper .logo img {
  padding: 55px 0;
}
footer > .wrapper form {
  position: relative;
  overflow: hidden;
}
footer > .wrapper form [class*="col"] {
  margin-top: 10px;
}
footer > .wrapper form .col-50 {
  width: 187px;
  margin-left: 10px;
}
footer > .wrapper form .col-100 input {
  padding-right: 108px;
}
footer > .wrapper form .col-100,
footer > .wrapper form .col-50.first-of-row {
  margin-left: 0;
}
footer > .wrapper form button {
  background-color: #00aeef;
  color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.2em;
  padding: 7px 28px;
}
footer > .wrapper .social-icons {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
footer > .wrapper .social-icons .fa {
  color: #2f415b;
}
footer > .wrapper nav {
  padding-top: 27px;
  text-align: right;
}
footer > .wrapper nav ul {
  display: inline-block;
  margin-left: 60px;
  text-align: left;
}
footer > .wrapper nav ul:first-of-type {
  margin-left: 0;
}
footer > .wrapper nav ul li {
  margin: 0 0 30px 0;
}
footer > .wrapper nav ul li a {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}
footer > .wrapper nav ul li:hover a {
  color: #00aeef;
}
footer .bottom-bar {
  padding: 15px 0;
  background-color: #e3e6e8;
  width: 100%;
  float: left;
}
footer .bottom-bar nav {
  position: absolute;
  right: 0;
  top: 0;
}
footer .bottom-bar nav li {
  display: inline-block;
  padding: 0 20px;
  border-left: 1px solid #2f415b;
  font-weight: 400;
}
footer .bottom-bar nav li:first-of-type {
  padding-left: 0;
  border-left: none;
}
[class*="col"] {
  margin-left: 32px;
  display: inline-block;
  float: left;
  overflow: hidden;
}
.col-25 {
  width: 280px;
}
.col-33 {
  width: 384px;
}
.col-50 {
  width: 593px;
}
.col-66 {
  width: 798px;
}
.col-75 {
  width: 905px;
}
.col-100 {
  width: 100%;
}
.first-of-row {
  margin-left: 0;
}
input,
select,
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0;
  outline: none;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #e3e6e8;
  font-weight: 600;
  letter-spacing: .85px;
}
select {
  background-position: 98%;
}
::-webkit-input-placeholder {
  font-family: 'Roboto Condensed', sans-serif;
}
::-moz-placeholder {
  font-family: 'Roboto Condensed', sans-serif;
}
:-ms-input-placeholder {
  font-family: 'Roboto Condensed', sans-serif;
}
.social-icons .fa {
  color: #72808a;
  margin-right: 18px;
  font-size: 1.2em;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.social-icons a:hover .fa {
  color: #2f415b;
}
.wysiwyg {
  float: left;
  overflow: hidden;
}
.wysiwyg img {
  max-width: 100%;
  margin-bottom: 30px;
}
.wysiwyg ul,
.wysiwyg ol {
  margin-bottom: 20px;
}
.wysiwyg ul li,
.wysiwyg ol li {
  line-height: 1.8em;
}
.wysiwyg ul li {
  list-style: disc;
  margin-left: 16px;
}
.wysiwyg ol li {
  list-style: decimal;
  margin-left: 20px;
}
.full-width-module {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.full-width-module .line:after {
  content: '';
  border-bottom: 1px solid #ffffff;
  width: 60px;
  display: block;
  padding-top: 17px;
  margin: 0 auto;
  opacity: .5;
}
.full-width-module h2,
.full-width-module h3 {
  font-weight: 100;
}
.full-width-module h2,
.full-width-module h3,
.full-width-module h5,
.full-width-module h6,
.full-width-module em,
.full-width-module button {
  color: #ffffff;
}
.full-width-module h5 {
  background: rgba(47, 65, 91, 0.2);
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
}
.full-width-module button,
.full-width-module em {
  margin-top: 27px;
  display: inline-block;
  text-align: center;
}
.full-width-module button {
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -ms-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
  letter-spacing: 1.6px;
}
.full-width-module button:after {
  content: "\f101";
  font-family: 'FontAwesome';
  padding-left: 10px;
  font-size: 1.4em;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -ms-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}
.full-width-module button:hover {
  left: -5px;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -ms-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}
.full-width-module button:hover:after {
  padding-left: 15px;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -ms-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}
.full-width-module table {
  height: 100%;
}
.full-width-module table td {
  vertical-align: middle;
  text-align: center;
}
.full-width-module.billboard {
  min-height: 435px;
  height: 240px;
}
.full-width-module.cta {
  background-color: #00aeef;
  height: 240px;
}
.full-width-module.contact-form {
  background-image: url('images/bg-blue.png');
  height: auto;
}
.full-width-module.contact-form .wrapper {
  width: 850px;
  padding: 50px 0;
}
.full-width-module.contact-form .wrapper h3 {
  text-align: center;
}
.full-width-module.contact-form .wrapper h2,
.full-width-module.contact-form .wrapper p {
  color: #ffffff;
}
.full-width-module.contact-form .wrapper form {
  margin: 23px 0 10px;
}
.full-width-module.contact-form .wrapper form ::-webkit-input-placeholder {
  color: #d9d9d9;
}
.full-width-module.contact-form .wrapper form ::-moz-placeholder {
  color: #d9d9d9;
}
.full-width-module.contact-form .wrapper form :-ms-input-placeholder {
  color: #d9d9d9;
}
.full-width-module.contact-form .wrapper form textarea {
  height: 160px;
}
.full-width-module.contact-form .wrapper form input,
.full-width-module.contact-form .wrapper form select,
.full-width-module.contact-form .wrapper form textarea {
  margin-bottom: 8px;
  background-color: rgba(47, 65, 91, 0.2);
  color: #ffffff;
}
.full-width-module.contact-form .wrapper form button {
  padding: 12px 16px;
  background-color: #2f415b;
  margin: 30px auto 0;
  display: block;
}
.full-width-module.contact-form .wrapper [class*="col"] {
  margin-left: 14px;
}
.full-width-module.contact-form .wrapper .col-50 {
  width: 418px;
}
.full-width-module.contact-form .wrapper .first-of-row {
  margin-left: 0;
}
.full-width-module.list-slider {
  text-align: center;
  background-image: url('images/bg-faircom.png');
  padding: 50px 0 20px;
  min-height: auto;
  height: auto;
}
.full-width-module.list-slider h5 {
  margin-bottom: 0;
}
.full-width-module.list-slider .item {
  width: 150px;
  height: 150px;
  min-height: 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.full-width-module.map {
  height: 550px;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.full-width-module.map #map-canvas {
  width: 100%;
  height: 450px;
}
.full-width-module .owl-controls {
  margin: 0 auto;
  width: 1218px;
}
.full-width-module .owl-controls .owl-pagination {
  position: absolute;
  top: 45px;
}
.full-width-module .owl-controls .owl-pagination [class^="owl"] {
  background-color: #ffffff;
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 15px;
  opacity: .5;
}
.full-width-module .owl-controls .owl-pagination [class^="owl"].active {
  opacity: 1;
}
.full-width-module .owl-controls .owl-buttons {
  position: absolute;
  top: -28px;
  width: 1218px;
}
.full-width-module .owl-controls .owl-buttons [class^="owl"] {
  color: #ffffff;
  display: inline-block;
}
.full-width-module .owl-controls .owl-buttons [class^="owl"] .fa {
  font-size: 2em;
  font-weight: 900;
  opacity: .5;
  -webkit-transition: all, 300ms;
  -moz-transition: all, 300ms;
  -ms-transition: all, 300ms;
  -o-transition: all, 300ms;
  transition: all, 300ms;
  text-shadow: 1px 1px 1px #000000;
}
.full-width-module .owl-controls .owl-buttons [class^="owl"] .fa:hover {
  opacity: 1;
  -webkit-transition: all, 300ms;
  -moz-transition: all, 300ms;
  -ms-transition: all, 300ms;
  -o-transition: all, 300ms;
  transition: all, 300ms;
}
.full-width-module .owl-controls .owl-buttons [class^="owl"] [class*="fa-angle-double"] {
  font-size: 1.2em;
}
.full-width-module .owl-controls .owl-buttons .owl-prev {
  left: 42%;
  position: absolute;
}
.full-width-module .owl-controls .owl-buttons .owl-next {
  right: 42%;
  position: absolute;
}
.full-width-module.list-slider .owl-pagination,
.full-width-module.quote-slider .owl-pagination {
  display: none;
}
.full-width-module.quote-slider .owl-buttons {
  top: -60px;
}
.full-width-module.quote-slider .owl-controls .owl-buttons .owl-prev {
  left: 38%;
}
.full-width-module.quote-slider .owl-controls .owl-buttons .owl-next {
  right: 38%;
}
.full-width-module.panel section {
  padding: 50px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.full-width-module.panel section:nth-of-type(odd) {
  background-color: #e3e6e8;
}
.full-width-module.panel section:nth-of-type(even) {
  background-color: #ffffff;
}
.full-width-module.panel section h4 {
  color: #00aeef;
  letter-spacing: 1px;
  margin-top: 45px;
}
.full-width-module.panel section h4:after {
  margin: 0;
  padding-top: 17px;
  border-bottom: 1px solid #2f415b;
}
.full-width-module.panel section h3 {
  color: #2f415b;
  margin-top: 30px;
}
.full-width-module.panel section p {
  margin-top: 30px;
}
.full-width-module.panel section button {
  background-color: #00aeef;
  padding: 8px 16px;
}
.full-width-module.quote-slider {
  background-image: url('images/bg-faircom.png');
  padding: 60px 0 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  min-height: auto;
  height: auto;
}
.full-width-module.quote-slider .item {
  padding: 0 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.full-width-module.page-header {
  padding: 50px 0;
}
.full-width-module.page-header + .map {
  padding-top: 0;
}
.full-width-module.page-header h3 {
  text-align: center;
  color: #2f415b;
  margin-bottom: 30px;
}
.full-width-module.page-header h3:after {
  border-bottom: 1px solid #2f415b;
}
.full-width-module.page-header p {
  text-align: center;
  padding: 0 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.full-width-module.page-header.breadcrumbs nav {
  text-align: center;
  margin-bottom: 23px;
}
.full-width-module.page-header.breadcrumbs nav li {
  display: inline-block;
  padding: 0 10px;
  position: relative;
  overflow: hidden;
}
.full-width-module.page-header.breadcrumbs nav li a {
  color: #72808a;
}
.full-width-module.page-header.breadcrumbs nav li:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  height: 100%;
  border-left: 2px solid #72808a;
}
.full-width-module.page-header.breadcrumbs nav li:first-child:before {
  content: normal;
}
.full-width-module.page-header.breadcrumbs h3:after {
  content: none;
}
