.full-width-module {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .line:after {
    content: '';
    border-bottom: 1px solid @background-color;
    width: 60px;
    display: block;
    padding-top: 17px;
    margin: 0 auto;
    opacity: .5;
  }
  h2,h3{
    font-weight: 100;
  }
  h2,h3,h5,h6,em,button{
    color:@background-color;
  }
  h5{
    background: @primary-color-rgba;
    display: inline-block;
    padding:10px 30px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
  }
  button,em{
    margin-top: 27px;
    display: inline-block;
    text-align: center;
  }
  button {
    .transition(all @duration-short);
    letter-spacing: 1.6px;
    &:after {
      content: "\f101";
      font-family: @icon-font;
      padding-left: 10px;
      font-size: 1.4em;
      .transition(all @duration-short);
    }
    &:hover{
      left: -5px;
      .transition(all @duration-short);
      &:after{
        padding-left: 15px;
        .transition(all @duration-short);
      }
    }
  }
  table{
    height: 100%;
    td{
      vertical-align: middle;
      text-align: center;
    }
  }
  @import "billboard";
  @import "cta";
  @import "contact-form";
  @import "list-slider";
  @import "map";
  @import "owl-slider";
  @import "panel";
  @import "quote-slider";
  @import "page-header";
}