&.contact-form {
  background-image: url('images/bg-blue.png');
  height: auto;

  .wrapper {
    width:850px;
    padding: 50px 0;

    h3{
      text-align: center;
    }

    h2,p {
      color:@background-color;
    }

    form {
      margin: 23px 0 10px;

      .placeholder-color(darken(@background-color, 15%));

      textarea {
        height:160px;
      }

      input, select,textarea {
        margin-bottom:8px;
        background-color: @primary-color-rgba;
        color:@background-color;
      }

      button {
        padding: 12px 16px;
        background-color: @primary-color;
        margin:30px auto 0;
        display: block;
      }

    }

    //Colums
    [class*="col"] {
      margin-left: 14px;
    }

    .col-50 {
      width:418px;
    }

    .first-of-row {
      margin-left: 0;
    }
  }
}