&.list-slider{
  text-align: center;
  background-image: url('images/bg-faircom.png');
  padding: 50px 0 20px;
  min-height: auto;
  height: auto;
  h5{
   margin-bottom: 0;
  }
  .item {
    width: 150px;
    height: 150px;
    min-height: 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }
}