//This file contains owl-controls
// Styles differ by slider type

.owl-controls {
  margin: 0 auto;
  width: @grid;

  .owl-pagination{
    position: absolute;
    top: 45px;

    [class^="owl"] {
      background-color: @background-color;
      display: inline-block;
      width:10px;
      height: 10px;
      .border-radius(50%);
      margin-right: 15px;
      opacity: .5;

      &.active{
        opacity: 1;
      }
    }
  }

  //Nav Controls

  .owl-buttons {
    position: absolute;
    top: -28px;
    width: @grid;

    [class^="owl"] {
      color: @background-color;
      display: inline-block;

      .fa{
        font-size: 2em;
        font-weight: 900;
        opacity: .5;
        .transition(all, @duration);
        .text-shadow(1px 1px 1px #000000);

        &:hover {
          opacity: 1;
          .transition(all, @duration);
        }
      }
      [class*="fa-angle-double"] {
        font-size: 1.2em;
      }
    }
    .owl-prev{
      left:42%;
      position: absolute;
    }
    .owl-next{
      right:42%;
      position: absolute;
    }
  }
}

&.list-slider .owl-pagination, &.quote-slider .owl-pagination, {
  display: none;
}

&.quote-slider {
  .owl-buttons {
    top: -60px;
  }
  .owl-controls .owl-buttons .owl-prev{
    left:38%;
  }
  .owl-controls .owl-buttons .owl-next{
    right:38%;
  }
}
