&.page-header {
  padding: 50px 0;
  &+.map{
    padding-top: 0;
  }
  h3 {
    text-align: center;
    color: @primary-color;
    margin-bottom: 30px;
    &:after{
      border-bottom:1px solid @primary-color;;
    }
  }
  p{
    text-align: center;
    padding: 0 200px;
    .box-sizing(border-box);
  }

  &.breadcrumbs {
    nav{
      text-align: center;
      margin-bottom: 23px;
      li{
        display: inline-block;
        padding: 0 10px;
        position: relative;
        overflow: hidden;
        a{
          color:@dark-grey-color;
        }
        &:before{
          content: '';
          display: inline-block;
          position: absolute;
          left: 0;
          height: 100%;
          border-left: 2px solid @dark-grey-color;
        }
        &:first-child:before{
          content: normal;
        }
      }
    }
    h3:after{
      content: none;
    }
  }
}