&.panel{
  section {
    padding:50px 0;
    .box-sizing(border-box);
    &:nth-of-type(odd) {
      background-color: @grey-color;
    }
    &:nth-of-type(even) {
      background-color: @background-color;
    }
    h4{
      color:@secondary-color;
      letter-spacing: 1px;
      margin-top: 45px;
      &:after{
        margin: 0;
        padding-top: 17px;
        border-bottom: 1px solid @primary-color;
      }
    }
    h3{
      color: @primary-color;
      margin-top: 30px;
    }
    p{
      margin-top: 30px;
    }
    button{
      background-color: @secondary-color;
      padding:8px 16px;
    }
  }
}