&.quote-slider {
  background-image: url('images/bg-faircom.png');
  padding:60px 0 40px;
  .box-sizing(border-box);
  text-align: center;
  min-height: auto;
  height: auto;
  .item{
    padding: 0 100px;
    .box-sizing(border-box);
  }
}